<!DOCTYPE root[<!ELEMENT articlesContents ANY>
<!ATTLIST articlesContents id ID #REQUIRED>
<!ELEMENT articlesMain ANY>
<!ATTLIST articlesMain id ID #REQUIRED>
<!ELEMENT simpleContentPage ANY>
<!ATTLIST simpleContentPage id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
]>
<root id="-1">
  <homePage id="1050" key="1ef174a3-aa98-4c90-8735-f92d90ba8048" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-02-07T16:40:59" updateDate="2017-02-07T16:40:59" nodeName="Homepage" urlName="homepage" path="-1,1050" isDoc="" nodeType="1047" creatorName="Stephan Olsen" writerName="Stephan Olsen" writerID="0" template="1046" nodeTypeAlias="homePage">
    <bodyText><![CDATA[<p>Hello world! We can write what we like here!</p>
<p>"Widgets Ltd 2014"</p>]]></bodyText>
    <pageTitle><![CDATA[Welcome to Widgets Ltd]]></pageTitle>
    <footerText><![CDATA[Copyright Widgets Ltd 2014]]></footerText>
    <simpleContentPage id="1054" key="5f0611d5-e7df-4087-9550-68904d1a1ba0" parentID="1050" level="2" creatorID="0" sortOrder="0" createDate="2017-02-07T17:00:38" updateDate="2017-02-07T17:11:33" nodeName="Contact Us" urlName="contact-us" path="-1,1050,1054" isDoc="" nodeType="1053" creatorName="Stephan Olsen" writerName="Stephan Olsen" writerID="0" template="1052" nodeTypeAlias="simpleContentPage">
      <pageTitle><![CDATA[BREAKING NEWS... GRUBBE FÅR 12!!!]]></pageTitle>
      <bodyText><![CDATA[<p>GRUBBE ER KOLD, HAN FIK 12!</p>]]></bodyText>
    </simpleContentPage>
    <articlesMain id="1064" key="4beca40e-4af1-43da-8ec6-a497382384ce" parentID="1050" level="2" creatorID="0" sortOrder="3" createDate="2017-02-07T17:31:12" updateDate="2017-02-07T17:31:12" nodeName="Articles" urlName="articles" path="-1,1050,1064" isDoc="" nodeType="1058" creatorName="Stephan Olsen" writerName="Stephan Olsen" writerID="0" template="1057" nodeTypeAlias="articlesMain">
      <articlesBodyText><![CDATA[<p>Something about articles....</p>]]></articlesBodyText>
      <articlesTitle><![CDATA[This is our articles page]]></articlesTitle>
      <articlesContents id="1065" key="71880aed-9994-47cb-90db-26c85a5189de" parentID="1064" level="3" creatorID="0" sortOrder="0" createDate="2017-02-07T17:32:12" updateDate="2017-02-07T17:32:43" nodeName="First article" urlName="first-article" path="-1,1050,1064,1065" isDoc="" nodeType="1060" creatorName="Stephan Olsen" writerName="Stephan Olsen" writerID="0" template="1059" nodeTypeAlias="articlesContents">
        <articlesTitle><![CDATA[This is the title of the first article]]></articlesTitle>
        <articleContents><![CDATA[<p>This is some epic badass motherfucking article content from the first article...</p>]]></articleContents>
      </articlesContents>
      <articlesContents id="1066" key="7d59bc43-0126-43c6-a9c1-d488e7906c6b" parentID="1064" level="3" creatorID="0" sortOrder="1" createDate="2017-02-07T17:32:31" updateDate="2017-02-07T17:32:31" nodeName="Second article" urlName="second-article" path="-1,1050,1064,1066" isDoc="" nodeType="1060" creatorName="Stephan Olsen" writerName="Stephan Olsen" writerID="0" template="1059" nodeTypeAlias="articlesContents">
        <articlesTitle><![CDATA[This is the title of the second article]]></articlesTitle>
        <articleContents><![CDATA[<p><span>This is some epic badass motherfucking article content from the second article...</span></p>]]></articleContents>
      </articlesContents>
    </articlesMain>
  </homePage>
</root>